<!--
<div class="parent">
  <div class="section yellow" contenteditable>
    <form>
      <label for="id">ID</label>
      <br />
      <input type="text" name="id" id="id" [(ngModel)]="studentCurr.id" />
      <br />
      <label for="name">Name</label>
      <br />
      <input
        type="text"
        name="name"
        id="name"
        [(ngModel)]="studentCurr.name"
      />
      <br />
      <label for="dob">Day of Birth</label>
      <br />
      <br />
      <label for="email">Email</label>
      <br />
      <input
        type="text"
        name="email"
        id="email"
        [(ngModel)]="studentCurr.email"
      />
      <br />
      <label for="code">Code location</label>
      <br />
      <input
        type="text"
        name="code"
        id="code"
        [(ngModel)]="studentCurr.phone.code"
      />
      <br />
      <label for="number">Phone number</label>
      <br />
      <input
        type="text"
        name="number"
        id="number"
        [(ngModel)]="studentCurr.phone.number"
      />
      <br />
      <button (click)="addStudent()">Add Student</button>
    </form>
  </div>
  <div class="section purple" contenteditable>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>

        <th>Email</th>
        <th>Code</th>
        <th>Phone</th>
        <th>Management</th>
      </tr>
      <tr *ngFor="let student of student$ | async ">
        <td> {{student.id}}</td>
        <td> {{student.name}}</td>

        <td> {{student.email}}</td>
        <td> ({{student.phone.code}}) </td>
        <td> {{student.phone.number}}</td>
        <td>
          <button class="delete" (click)="delete(student.id)">Delete</button>
        </td>
      </tr>

    </table>
   </div>
  </div> -->

  <div class="container" >
    <form  [(ngModel)]="todoCurr.id">
      <div class="form-group">
      <h1 class="text-center ">Todo App</h1>
        <div class="input-group-prepend">
            <input type="text" #todo  class="form-control" placeholder="Add Todo" name="todo"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="todoCurr.description">
          <span class="input-group-text" >
          <i class="material-icons" (click)="addTodo()" >add</i></span>
        </div>
      </div>
      <div class="data" *ngFor="let todo of todo$ | async " >
      <ul class="list-unstyled">
        <li >{{todo.description}} <i class="material-icons" (click)="deleteTodo(todo.id)">delete</i></li>
      </ul>
    </div>
    </form>

  </div>

<router-outlet></router-outlet>
